.friendList{
    display: flex;
    flex-direction: column;
    background-color: rgba(232, 243, 243, 0.468);
    width: 300px;
    padding: 0;
    margin: 20px 20px;
    list-style: none;
    border-radius: 10px;
gap: 10px;
}